# ignore files
__init__.py
config.*

# ignore folders
.venv
.idea
/_archive
/api(draft)
/finance(draft)
/web_scraping

# ignore changes in subfolders
/parsing_documents/parsePDFs01/output
/parsing_documents/parsePDFs01/reports

/parsing_documents/parsePDFs02
/parsing_documents/parsePDFs03
