# ignore files
.gitignore
__init__.py
config.*

# ignore folders
/finance(draft)
/web_scraping

# ignore changes in subfolders - api
/api/project1
/api/spotify_api
/api/README.md
/api/stock_price.py

# ignore changes in subfolders - parsing_documents
/parsing_documents/mergePDFs/build
/parsing_documents/mergePDFs/build/pdf_merger
/parsing_documents/mergePDFs/dist
/parsing_documents/mergePDFs/*.spec
/parsing_documents/mergePDFs/*.exe
/parsing_documents/images/parsepdf01.mp4