# ignore files
__init__.py
config.*

# ignore folders
.venv
.idea
/_archive
/finance(draft)
/web_scraping

# ignore changes in subfolders - api
/api/mlbb
/api/project1
/api/spotify_api
/api/README.md
/api/stock_price.py

# ignore changes in subfolders - parsing_documents
/parsing_documents/parsePDFs01/output
/parsing_documents/parsePDFs01/reports

/parsing_documents/parsePDFs02
/parsing_documents/parsePDFs03
